[submodule "Libraries/zlib"]
	path = Libraries/zlib
	url = https://github.com/madler/zlib.git
[submodule "Libraries/pl_mpeg"]
	path = Libraries/pl_mpeg
	url = https://github.com/phoboslab/pl_mpeg.git
